---
export type Props = {
  to: string;
  title: string;
  description: string;
  image: string;
};
const { title, description, image, to } = Astro.props;
---

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <a href={to} class="block aspect-w-4 aspect-h-3 w-full">
    <!-- Use object-cover to ensure the image covers the aspect ratio box -->
    <img src={image} alt={title} class="object-cover w-full h-full" />
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{title}</div>
    <p class="text-gray-700 text-base">{description}</p>
  </div>
  <div class="absolute bottom-0 right-0 mb-2 mr-2">
    <span class="text-lg">&rarr;</span>
  </div>
</div>
  
